body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #eeeeee; /* Цвет фона веб-страницы */
    color: #000000; /* Цвет основного текста */ 
}
h1 {
    color: #000000; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    
}
h1:hover {
    animation: color-change 3s infinite;
}
@keyframes color-change {
  0%   { color: rgb(9, 2, 116); }
  50%  { color: rgb(251, 255, 0); }
  100% { color: rgb(116, 4, 65); }
}
